In [1]:
import pandas as pd
import re
import json
import pprint
import matplotlib.pyplot as plt
import numpy as np

In [4]:
!ls ../data

calendar.csv		     listings_head10.csv  neighbourhoods.geojson
calendar_head100.csv	     listings_key.csv	  reviews.csv
listings_cleaned.csv	     listings_step1.csv   reviews_head100.csv
listings_cleaned_head10.csv  listings_step2.csv   summarized
listings.csv		     listings_step3.csv
listings_head100.csv	     listings_step4.csv

In [5]:
reviews = pd.read_csv("../data/reviews.csv")

In [6]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1419,38924112,2015-07-19,11308465,Marcela,Having the opportunity of arriving to Alexandr...
1,1419,44791978,2015-08-29,9580285,Marco,We have no enough words to describe how beauty...
2,1419,45957133,2015-09-07,38394721,Andrea,The listing was exceptional and an even better...
3,1419,67295154,2016-03-28,3515044,Shaun,Alexandra's home was amazing and in such a nea...
4,1419,177702208,2017-08-03,13987100,Kate,Beautiful home. Very comfortable and clean. Pe...

In [8]:
!pip3 install nltk

Collecting nltk
  Downloading https://files.pythonhosted.org/packages/6f/ed/9c755d357d33bc1931e157f537721efb5b88d2c583fe593cc09603076cc3/nltk-3.4.zip (1.4MB)
    100% |████████████████████████████████| 1.4MB 473kB/s eta 0:00:01    67% |█████████████████████▊          | 972kB 19.3MB/s eta 0:00:01
Collecting six (from nltk)
  Using cached https://files.pythonhosted.org/packages/73/fb/00a976f728d0d1fecfe898238ce23f502a721c0ac0ecfedb80e0d88c64e9/six-1.12.0-py2.py3-none-any.whl
Collecting singledispatch (from nltk)
  Downloading https://files.pythonhosted.org/packages/c5/10/369f50bcd4621b263927b0a1519987a04383d4a98fb10438042ad410cf88/singledispatch-3.4.0.3-py2.py3-none-any.whl
Building wheels for collected packages: nltk
  Running setup.py bdist_wheel for nltk ... done
  Stored in directory: /home/varun/.cache/pip/wheels/4b/c8/24/b2343664bcceb7147efeb21c0b23703a05b23fcfeaceaa2a1e
Successfully built nltk
Installing collected packages: six, singledispatch, nltk
Successfully installed nltk-3.4 singledispatch-3.4.0.3 six-1.12.0

In [9]:
!pip3 install vaderSentiment

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/86/9e/c53e1fc61aac5ee490a6ac5e21b1ac04e55a7c2aba647bb8411c9aadf24e/vaderSentiment-3.2.1-py2.py3-none-any.whl (125kB)
    100% |████████████████████████████████| 133kB 2.2MB/s ta 0:00:01
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.2.1

In [12]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()

In [30]:
def sentiment_analyzer_scores(sentence):
    polarity_scores = analyser.polarity_scores(sentence)
    neg = polarity_scores["neg"]
    neu = polarity_scores["neu"]
    pos = polarity_scores["pos"]
    compound = polarity_scores["compound"]
    scores = [neg, neu, pos]    
    labels = ["neg", "neu", "pos"]
    return labels[scores.index(max(scores))]

In [31]:
sentiment_analyzer_scores("The phone is super cool.")

'pos'

In [ ]:
reviews["sentiment"] = reviews["comments"].map(sentiment_analyzer_scores).head()

In [24]:
neg = analyser.polarity_scores("The phone is super cool.")["neg"]
neu = analyser.polarity_scores("The phone is super cool.")["neu"]
pos = analyser.polarity_scores("The phone is super cool.")["pos"]
compound = analyser.polarity_scores("The phone is super cool.")["compound"]

scores = [neg, neu, pos]
print(scores.index(max(scores)))
sentiment = ["neg", "neu", "pos"]
print(sentiment[scores.index(max(scores))])
print(neg, neu, pos)

2
pos
0.0 0.326 0.674

In [13]:
sentiment_analyzer_scores("The phone is super cool.")

The phone is super cool.---------------- {'neg': 0.0, 'neu': 0.326, 'pos': 0.674, 'compound': 0.7351}

In [10]:
import nltk