In [6]:
import pandas as pd
from textblob import TextBlob

In [7]:
testimonial = TextBlob("Textblob is amazingly simple to use. What great fun!")
testimonial.sentiment

Sentiment(polarity=0.39166666666666666, subjectivity=0.4357142857142857)

In [8]:
testimonial.sentiment.polarity

0.39166666666666666

In [9]:
reviews = pd.read_csv("../data/reviews.csv")

In [10]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1419,38924112,2015-07-19,11308465,Marcela,Having the opportunity of arriving to Alexandr...
1,1419,44791978,2015-08-29,9580285,Marco,We have no enough words to describe how beauty...
2,1419,45957133,2015-09-07,38394721,Andrea,The listing was exceptional and an even better...
3,1419,67295154,2016-03-28,3515044,Shaun,Alexandra's home was amazing and in such a nea...
4,1419,177702208,2017-08-03,13987100,Kate,Beautiful home. Very comfortable and clean. Pe...

In [12]:
tb = TextBlob(reviews.iloc[0]["comments"])

In [14]:
tb.sentiment.polarity

0.4101041666666667

In [18]:
reviews["sentiment"] = reviews["comments"].map(lambda x: TextBlob(str(x)).polarity)

In [19]:
reviews["subjectivity"] = reviews["comments"].map(lambda x: TextBlob(str(x)).subjectivity)

In [20]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments,sentiment,subjectivity
0,1419,38924112,2015-07-19,11308465,Marcela,Having the opportunity of arriving to Alexandr...,0.410104,0.699479
1,1419,44791978,2015-08-29,9580285,Marco,We have no enough words to describe how beauty...,0.266667,0.683333
2,1419,45957133,2015-09-07,38394721,Andrea,The listing was exceptional and an even better...,0.576111,0.717361
3,1419,67295154,2016-03-28,3515044,Shaun,Alexandra's home was amazing and in such a nea...,0.295000,0.563333
4,1419,177702208,2017-08-03,13987100,Kate,Beautiful home. Very comfortable and clean. Pe...,0.502963,0.740000

In [21]:
reviews.to_csv("reviews_sentiment.csv", index=False, header=True)

In [22]:
!ls -l

total 152272
-rw-r--r-- 1 varun varun   3818480 Mar 19 21:25  Cleaning.ipynb
-rw-r--r-- 1 varun varun     13379 Mar 19 20:52 'Discussion with Meghan.docx'
-rw-r--r-- 1 varun varun       553 Mar 19 20:52 'Discussion with Meghan.txt'
-rwxr-xr-x 1 varun varun       642 Mar 16 11:18  download.sh
-rw-r--r-- 1 varun varun     80204 Mar 19 21:25 'EDA - Listings.ipynb'
-rw-r--r-- 1 varun varun     16279 Mar 19 22:33 'EDA - reviews.ipynb'
-rw-r--r-- 1 varun varun       205 Mar 19 20:52 'Framework for proposal doc.txt'
-rw-r--r-- 1 varun varun     37838 Mar 21 19:46  gensim.ipynb
drwxr-xr-x 2 varun varun      4096 Mar 21 10:07  lsa_sports_food_docs
-rw-r--r-- 1 varun varun     11682 Mar 16 23:29 'ML1030 Executive Summary v0.01.docx'
-rw-r--r-- 1 varun varun     11721 Mar 17 14:58 'ML1030 Project Proposal.docx'
-rw-r--r-- 1 varun varun     11678 Mar 16 23:29 'ML1030 Report.docx'
-rw-r--r-- 1 varun varun     12659 Mar 19 21:25  nlp.ipynb
-rw-r--r-- 1 varun varun     10828 Mar 20 19:42 'NLTK Sentiment Analysis.ipynb'
-rw-r--r-- 1 varun varun     84280 Mar 21 19:01  prices.ipynb
-rw-r--r-- 1 varun varun         8 Mar 16 13:32  README.md
-rw-r--r-- 1 varun varun 151717807 Mar 22 19:42  reviews_sentiment.csv
-rw-r--r-- 1 varun varun       628 Mar 19 20:52 'Running list of ideas.txt'
-rw-r--r-- 1 varun varun      1068 Mar 21 09:53  sample.txt
-rw-r--r-- 1 varun varun      3295 Mar 20 19:48 'Sentiment Analysis.ipynb'
-rw-r--r-- 1 varun varun      9865 Mar 20 22:06 'Sentiment Analysis Take 2.ipynb'
-rw-r--r-- 1 varun varun     10675 Mar 22 19:41  SentimentAnalysis_textblob.ipynb
-rw-r--r-- 1 varun varun       698 Mar 21 20:16 'Task breakup'
-rw-r--r-- 1 varun varun      4774 Mar 20 23:12 'Topic Modeling.ipynb'
drwxr-xr-x 2 varun varun      4096 Mar 16 15:45  tps