In [6]:
!pip3 install wordcloud

Collecting wordcloud
  Downloading https://files.pythonhosted.org/packages/ae/af/849edf14d573eba9c8082db898ff0d090428d9485371cc4fe21a66717ad2/wordcloud-1.5.0-cp36-cp36m-manylinux1_x86_64.whl (361kB)
    100% |████████████████████████████████| 368kB 983kB/s ta 0:00:011
Collecting numpy>=1.6.1 (from wordcloud)
  Using cached https://files.pythonhosted.org/packages/35/d5/4f8410ac303e690144f0a0603c4b8fd3b986feb2749c435f7cdbb288f17e/numpy-1.16.2-cp36-cp36m-manylinux1_x86_64.whl
Collecting pillow (from wordcloud)
  Downloading https://files.pythonhosted.org/packages/85/5e/e91792f198bbc5a0d7d3055ad552bc4062942d27eaf75c3e2783cf64eae5/Pillow-5.4.1-cp36-cp36m-manylinux1_x86_64.whl (2.0MB)
    100% |████████████████████████████████| 2.0MB 415kB/s eta 0:00:01    80% |█████████████████████████▋      | 1.6MB 33.9MB/s eta 0:00:01
Installing collected packages: numpy, pillow, wordcloud
Successfully installed numpy-1.16.2 pillow-5.4.1 wordcloud-1.5.0

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split 

import nltk
from nltk.corpus import stopwords
from nltk.classify import SklearnClassifier

from wordcloud import WordCloud,STOPWORDS
from subprocess import check_output
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
#download stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/varun/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [2]:
reviews = pd.read_csv("../data/reviews.csv")

In [3]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1419,38924112,2015-07-19,11308465,Marcela,Having the opportunity of arriving to Alexandr...
1,1419,44791978,2015-08-29,9580285,Marco,We have no enough words to describe how beauty...
2,1419,45957133,2015-09-07,38394721,Andrea,The listing was exceptional and an even better...
3,1419,67295154,2016-03-28,3515044,Shaun,Alexandra's home was amazing and in such a nea...
4,1419,177702208,2017-08-03,13987100,Kate,Beautiful home. Very comfortable and clean. Pe...

In [7]:
stopwords_set = set(stopwords.words("english"))

In [13]:
list(stopwords_set)[0:10]

["that'll",
 'hadn',
 "mightn't",
 'couldn',
 'aren',
 'what',
 'with',
 'because',
 'am',
 'then']

In [15]:
reviews.iloc[0]["comments"].split(" ")[0:10]

['Having',
 'the',
 'opportunity',
 'of',
 'arriving',
 'to',
 "Alexandra's",
 'house,',
 'describes',
 'that']

In [18]:
wordlist = reviews.iloc[0]["comments"].split(" ")

In [21]:
words_cleaned = [w for w in wordlist if w not in list(stopwords_set)]

In [22]:
nltk.FreqDist(words_cleaned)

FreqDist({'\r\n': 1,
          'Alex': 1,
          "Alexandra's": 1,
          'And': 1,
          'Best': 1,
          'Dundas': 1,
          'God.': 1,
          'Having': 1,
          'Queen': 1,
          'THANKS': 1,
          'The': 2,
          'We': 2,
          'arriving': 1,
          'beautiful': 1,
          'beautiful,': 1,
          'blessed': 1,
          'calm': 1,
          'clean.': 1,
          'comfortable': 1,
          'describes': 1,
          'easy': 1,
          'equippied,': 1,
          'ever.': 1,
          'family': 1,
          'family.': 1,
          'feel': 1,
          'felt': 1,
          'happy': 1,
          'home.': 1,
          'host.': 1,
          'house': 1,
          'house,': 1,
          'mantain': 1,
          'mega': 1,
          'moments': 1,
          'near': 1,
          'neigbourhood': 1,
          'one': 1,
          'opportunity': 1,
          'other.': 1,
          'pretty,': 1,
          'side': 1,
          'stay': 1,
          'streets:': 1,
          'super': 2,
          'tidy': 1,
          'two': 1})

In [ ]:
# Training the Naive Bayes classifier
training_set = nltk.classify.apply_features(extract_features,tweets)
classifier = nltk.NaiveBayesClassifier.train(training_set)