In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.metrics import adjusted_rand_score

In [10]:
import pandas as pd
df = pd.read_csv("reviews_cleaned.csv")

/home/varun/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,2,4,5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments,sentiment,subjectivity,comments_cleaned
0,1419,38924112.0,2015-07-19,11308465.0,Marcela,Having the opportunity of arriving to Alexandr...,0.410104,0.699479,opportunity arriving alexandra house describes...
1,1419,44791978.0,2015-08-29,9580285.0,Marco,We have no enough words to describe how beauty...,0.266667,0.683333,enough word describe beautyful cozy alexandra ...
2,1419,45957133.0,2015-09-07,38394721.0,Andrea,The listing was exceptional and an even better...,0.576111,0.717361,listing exceptional even better experience per...
3,1419,67295154.0,2016-03-28,3515044.0,Shaun,Alexandra's home was amazing and in such a nea...,0.295000,0.563333,alexandra home amazing neat neighbourhood ever...
4,1419,177702208.0,2017-08-03,13987100.0,Kate,Beautiful home. Very comfortable and clean. Pe...,0.502963,0.740000,beautiful home comfortable clean perfect famil...

In [17]:
df["comments_cleaned"] = df["comments_cleaned"].astype(str)

In [18]:
reviews = df["comments_cleaned"]

In [19]:
vectorizer = TfidfVectorizer(stop_words='english')
X = vectorizer.fit_transform(reviews)

In [20]:
X

<1000x3713 sparse matrix of type '<class 'numpy.float64'>'
	with 24148 stored elements in Compressed Sparse Row format>

In [21]:
true_k = 10
model = KMeans(n_clusters=true_k, init='k-means++', max_iter=100, n_init=1)
model.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=100,
    n_clusters=10, n_init=1, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [22]:
print("Top terms per cluster:")
order_centroids = model.cluster_centers_.argsort()[:, ::-1]
terms = vectorizer.get_feature_names()

Top terms per cluster:

In [23]:
for i in range(true_k):
    print("Cluster %d:" % i),
    for ind in order_centroids[i, :10]:
        print(' %s' % terms[ind]),
    print

Cluster 0:
 walking
 distance
 toronto
 place
 need
 nice
 highly
 recommend
 great
 close
Cluster 1:
 apartment
 easy
 clean
 denis
 toronto
 stay
 location
 downtown
 great
 close
Cluster 2:
 good
 stay
 location
 host
 place
 wonderful
 toronto
 comfortable
 great
 room
Cluster 3:
 yohan
 sarah
 stay
 breakfast
 really
 great
 clean
 place
 room
 friendly
Cluster 4:
 house
 place
 home
 great
 mitra
 jerome
 host
 minute
 clean
 toronto
Cluster 5:
 great
 location
 place
 stay
 host
 john
 clean
 definitely
 perfect
 sam
Cluster 6:
 kathie
 larry
 view
 room
 tower
 cn
 toronto
 stay
 host
 wonderful
Cluster 7:
 nice
 place
 room
 clean
 really
 stay
 und
 toronto
 bathroom
 location
Cluster 8:
 denis
 suite
 place
 stay
 clean
 kyle
 needed
 thank
 recommend
 advertised
Cluster 9:
 et
 trs
 est
 le
 la
 pour
 posting
 canceled
 automated
 reservation

In [27]:
print("Prediction")

Y = vectorizer.transform(["excellent place to stay"])
prediction = model.predict(Y)
print(prediction)

Prediction
[2]

In [28]:
Y = vectorizer.transform(["Close to the subway station"])
prediction = model.predict(Y)
print(prediction)

[4]

In [ ]:
Y = vectorizer.transform(["Close to the subway station"])
prediction = model.predict(Y)
print(prediction)